*{
    font-family: 'Source Sans Pro', sans-serif;
    color:#ffffff;
    background-color: #000000;
    box-sizing: border-box;
    margin:0;
    padding:0;
    text-decoration: none;
    text-decoration-color: none;
}

a:hover{text-decoration: underline;}


/*Header and Navigation */
header{
    text-align: center;
    position: relative;
}

#logo{display: inline-block;}

nav{
    top:10px;
    left: 10px;
    width:50px;
    margin: 10px;
    position: absolute;
}

nav img{max-width: 100%;}

nav:hover ul{display: block;}

nav ul{
    display: none;
    list-style: none;
}



/* Splash */
#splash{
    text-align: center;
    display: inline-block;
    background-image: url(../images/ugh.gif);
    background-size: auto;
    height: 300px;
    width:100%;
}

/*Albums*/
#music h1{
    text-align:center;
    padding:20px;
}

#albums{
    display:flex;
    justify-content:space-around;
    margin-bottom:50px;
}

/*About*/
#about{
    display:flex;
    flex-direction: column;
}

#about img, #about h1{margin:15px auto;}

#about p{
    margin:30px 90px;
    line-height: 1.5;
    font-size: 18px;
}

#awards{
    display:flex;
    margin:0 auto;
}


.a{
    margin:20px 30px;
    line-height: 2;
}

.a ul{list-style: square;}



/*footer*/
footer{
    text-align:center;
    font-size: 20px;
}

footer p{margin:30px 0px 15px 0px;}

footer a{margin:50px}



/*Contact*/
.CF{
    text-align:center;
    padding: 0 0 50px 0;
}

.CF h1{
    margin:20px;
    text-transform:uppercase;
}

form{
    display:flex;
    justify-content: space-around;
    padding: 0px 200px;
}


#sbmt{padding:0 50px;}
#sbmt:hover{background-color: rgba(255,255,255,.5);}

#map{
    display:flex;
    margin: 50px auto;
    padding:0px 40px
}

#mapText{padding-right: 50px;}







/*Mobile*/
@media only screen and (max-width: 800px) {
    nav{display:none;}

    #logo{max-width:100%;}

    #splash{
        max-width:100%;
        background-position: center;
    }


/*Mobile Music*/
    #albums{
     flex-direction: column;
        text-align:center;
    }

    .album{
        margin: 10px 0px;
    }

/*About Mobile*/
    #about img{
        max-width:100%;
        padding: 0 0px;
    }

    #about p{margin:20px 25px;}


/*Awards Mobile*/
    #awards{flex-direction:column;}

    #ar{font-size:25px;}

    .a{
        margin:0px 25px 0px 40px;
        font-size:15px;
    }


/*Footer Mobile*/
    footer{margin-bottom:20px;}
    footer a{margin:10px 20px;}


/*Contact Mobile*/
    .CF{padding:0;}

    form{
        flex-direction:column;
        padding:0px;
    }

    label{padding-bottom:10px;}

    #sbmt{
        padding:20px;
        margin:10px 40px 30px;
    }

    #map{
        flex-direction:column;
        margin:0;
        padding:0px 20px;
    }

    #mapText{padding:0}

    #map iframe{
        padding:20px;
        max-width:100%;
    }
}


